{% load static %}
<!DOCTYPE>
<html lang="ru">
    <body>
        <meta charset="utf-8"/>
        <head>
            <title>VDS - Магазин по продажам видеокарт</title>
            <link type="text/css" href="{% static 'main/css/style.css' %}" rel="stylesheet"/>
        </head>
        <div class = "menu">
        {% block menu %}
            <div class = 'mainmenu'>
                {% for m in menu %}
                	{% if not forloop.last %}
			<li><a href="{% url m.url_name %}">{{m.title}}</a></li>
	            {% else %}
			<li class="last"><a href="{% url m.url_name %}">{{m.title}}</a></li>
	            {% endif %}
                {% endfor %}
            </div>
        {% endblock menu %}
            
            {% for rub in rubs %}
                {% if rub.pk == rub_selected %}
                    <li class = "selected">{{rub.name}}</li>
                {% else %}
                    <li><a href ="{{ rub.get_absolute_url }}">{{rub.name}}</a></li>
                {% endif %}        
            {% endfor %}
        </div>
        
        <div class="cart">
    {% with total_items=cart|length %}

            <a href="{% url "cart:cart_detail" %}">
                {{ total_items }} item{{ total_items|pluralize }},
                ${{ cart.get_total_price }}
            </a>

    {% endwith %}
</div>
        
        <div>
            {% block content  %}
            {% endblock  %} 
        </div>
    </body>
</html>