<!DOCTYPE>
<html lang="ru">
    <body>
        <meta charset="utf-8"/>
        <title>VDS - Магазин по продажам видеокарт</title>
        <div class = "menu">
            {% for rub in rubs %}
                {% if rub.pk == rub_selected %}
                    <li class = "selected">{{rub.name}}</li>
                {% else %}
                    <li><a href ="{{ rub.get_absolute_url }}">{{rub.name}}</a></li>
                {% endif %}        
            {% endfor %}
        </div>
        <div>
            {% block content  %}
            {% endblock  %} 
        </div>
    </body>
</html>