<!DOCTYPE>
<html lang="ru">
    <body>
        <meta charset="utf-8"/>
        <title>VDS - Магазин по продажам видеокарт</title>
        <div class = "menu">
        {% block menu %}
            <div class = 'mainmenu'>
                {% for m in menu %}
                	{% if not forloop.last %}
			<li><a href="{% url m.url_name %}">{{m.title}}</a></li>
	            {% else %}
			<li class="last"><a href="{% url m.url_name %}">{{m.title}}</a></li>
	            {% endif %}
                {% endfor %}
            </div>
        {% endblock menu %}
            
            {% for rub in rubs %}
                {% if rub.pk == rub_selected %}
                    <li class = "selected">{{rub.name}}</li>
                {% else %}
                    <li><a href ="{{ rub.get_absolute_url }}">{{rub.name}}</a></li>
                {% endif %}        
            {% endfor %}
        </div>
        <div>
            {% block content  %}
            {% endblock  %} 
        </div>
    </body>
</html>