{% extends 'main/basic.html' %}

{% block content %}
<h1>{{ card.name }}</h1>
<h2>{{ card.description }}</h2>
<p>{{ card.amount }}</p>
<a>{{card.video_memory}}</a>
<a>{{card.manufacturer}}</a>

<div class="info">
    <p class="price">${{ card.price }}</p>
            <form action="{% url "cart:cart_add" card.id %}" method="post">
        {{ cart_product_form }}
        {% csrf_token %}
        <input type="submit" value="Add to cart">
            </form>
</div>
<div>
    {% if card.img %}
    {{ card.img }}
    {% endif %}
</div>


{% endblock %}